// ===== VARIABLES ===== //

// ===== FONTS =====
$font-title: sans-serif;
$font-paragraph: sans-serif;

// ===== COLORS =====
$clr-primary: white;
$clr-secondary: black;
$clr-accent: coral;

$clr-text: #222;

$clr-bg: ivory;
